.myform{
    margin: 100px;
    margin-top: 50px;
    padding: 40px;
    background-color: rgba(243, 243, 243, 0.192);
    border-radius: 15px;
}

.topic{
    margin: 20px;
    margin-top: 60px;
    margin-left: 480px;
    color: rgb(13, 14, 24);
    font-size: 60px;
}

.reg{
    margin-top: 30px;
}